* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

:root {
    --back: #252529;
    --type: #9BA4B5;
}

/* introduction */
.wrapper {
    background: var(--back);
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8rem;
    align-items: center;
}


.wrapper .static-text {
    position: absolute;
    /* top: 15rem; */
    font-size: 65px;
    font-weight: 900;
    /* display: flex;
    align-content: center;
    align-items: center; */
}

.wrapper .dynamic-text {
    /* margin: 15px; */
    padding: 0;
    position: relative;
    top: 15rem;
    font-size: 45px;
    /* height: 90px;
    line-height: 90px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    overflow: hidden;
}

.dynamic-text {
    position: relative;
    font-size: 60px;
    font-weight: 500;
    list-style: none;
    top: 0;

}


.dynamic-text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--back);
    border-left: 2px solid var(--type);
    animation: typing 4s steps(10) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }

}

/* 
quote - hoveer */
@media(hover:hover) {

    .quote {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d9d9d9;
    }


    .carding {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 800px;
        height: 465px;
        /* background-color: #ccc; */
        border-radius: 25px;
    }

    .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: red;
        clip-path: circle(120px at center);
        transition: 0.5s; */
    }

    .carding .circle::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ababab;
        clip-path: circle(120px at center);
        /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
        /* clip-path: polygon(10% 10%,90% 10%,90% 90%,10% 90%); */
        transition: 0.5s;
    }

    .carding :hover:before {
        clip-path: circle(500px at center);
        background-color: #949494;
    }

    .carding img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: 120%;
        transform: translate(-50%, -57%);
        pointer-events: none;
        transition: 0.5s;
    }

    .carding:hover img {
        left: 70%;
        height: 140%;
        width: auto;
    }

    .carding .content {
        padding: 1rem;
        position: relative;

        width: 30%;
        visibility: hidden;
        transition: 0.5s;
        opacity: 0;
    }

    .carding:hover .content {
        position: relative;
        visibility: visible;
        left: -25%;
        opacity: 1;
        font-size: 1.7rem;
    }


    /* video */


}



/* quote */





/* video */



.video img {
    position: absolute;
    top: 0;
    opacity: 0.3;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    /* animation: animate 6s steps(4) infinite;
    animation-timing-function: ease; */
}

/* @keyframes animate{
    0%{
        opacity: 0.3;
    height: 100%;
    max-width: 100%;
    top:10rem;
    }

    25%{
        opacity: 0.4;
    height: 100%;
    max-width: 100%;
top:5%;
    }

    50%{
        opacity: 0.5;
    height: 100%;
    max-width: 100%;
    top:0%;
    }

    75%{
        opacity: 0.4;
    height: 100%;
    max-width: 100%;
    top:5%;
    }

    100%{
        opacity: 0.3;
    height: 100%;
    max-width: 100%;
    top:10%;
    
    }

} */





/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 200px) and (max-width: 767.98px) {

    /* quote */
    .quote {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carding {
        position: relative;
        top: 0;
        left: 0;
        height: 60%;
        width: 70vw;
        background-color: #ababab;
        border-top: 5px solid var(--back);
        border-left: 5px solid var(--back);
    }

    .carding img {
        position: relative;
        top: 13rem;
        left: 3rem;
        max-width: 70vw;
        height: 50%;
        opacity: 0.4;
    }

    .carding .content {
        position: relative;
        left: 0;
        height: 0vh;
        width: 100%;
        visibility: visible;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* information */
 
.cards_container {
    height: 100vh;
    background-color: #343438;
    display: flex;

    justify-content: center;
    align-items: center;
}

.carddd {
    background: #64646b;
    margin-left: 1.5rem ;
    margin-right: 1.5rem ;
    height: 100vh;
    width: 80vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    padding: 25px;
    transition: 0.5s ease;
    border-radius: 35px;
}

.carddd::before {
    position: absolute;
    content: "";
    height: 55%;
    width: 55%;
    border: 15px solid #a1a1a2;
    top: 0;
    right: 0;
    border-bottom: none;
    border-left: none;
    opacity: 1;
    /* transition: all 0.8s ease-in-out; */
    border-radius: 25px;
}

.carddd::after {
    position: absolute;
    content: "";
    height: 55%;
    width: 55%;
    border: 15px solid #a1a1a2;
    bottom: 0;
    left: 0;
    border-top: none;
    border-right:none;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    border-radius: 25px;
}

.carddd p,li{
    font-size: 12px;
}



}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* quotw */
    .quote {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carding {
        position: relative;
        top: 0;
        left: 0;
        height: 60%;
        width: 70vw;
        background-color: #ababab;
        border-top: 5px solid var(--back);
        border-left: 5px solid var(--back);
    }

    .carding img {
        position: relative;
        top: 15rem;
        left: 15rem;
        max-width: 70vw;
        height: 50%;
    }

    .carding .content {
        position: relative;
        left: 0;
        height: 0vh;
        width: 50%;
        font-size: xx-large;
        visibility: visible;
        padding-left: 30px;
        padding-right: 10px;
    }

    /* information */

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .content-info {
        height: 600px;
        width: 600px;
        background-color: beige;
        padding: 40px;
        transition: 0.5s ease-in;
    }

    .content-info::before {

        position: absolute;
        content: "";
        height: 0%;
        width: 0%;
        border: 8px solid #eef3ef;
        top: 0;
        right: 0;
        border-bottom: none;
        border-left: none;
        opacity: 0;
        transition: all 0.8s ease-in-out;
    }

    .content-info:hover::before {
        height: 85%;
        width: 85%;
        opacity: 1;
    }



    .cards_container {
        height: 100vh;
        background-color: #343438;
        display: flex;

        justify-content: center;
        align-items: center;
    }

    .carddd {
        background: #64646b;
        height: 600px;
        width: 600px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        padding: 25px;
        transition: 0.5s ease;
        border-radius: 35px;
    }

    .carddd::before {
        position: absolute;
        content: "";
        height: 55%;
        width: 55%;
        border: 15px solid #a1a1a2;
        top: 0;
        right: 0;
        border-bottom: none;
        border-left: none;
        opacity: 1;
        /* transition: all 0.8s ease-in-out; */
        border-radius: 25px;
    }

    .carddd::after {
        position: absolute;
        content: "";
        height: 55%;
        width: 55%;
        border: 15px solid #a1a1a2;
        bottom: 0;
        left: 0;
        border-top: none;
        border-right:none;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        border-radius: 25px;
    }

    .carddd:hover::before {
        height: 55%;
        width: 55%;
        opacity: 1;
        border-radius: 25px;
    }

    .carddd:hover::after {
        height: 55%;
        width: 55%;
        opacity: 1;
        border-radius: 25px;
    }

    .carddd:hover {
        height: 650px;
        width: 650px;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px)  {

    /* quote */
    .quote {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d9d9d9;
    }

    .carding {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 800px;
        height: 465px;
        border-radius: 25px;
    }

    .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .carding .circle::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ababab;
        clip-path: circle(120px at center);
        transition: 0.5s;
    }

    .carding :hover:before {
        clip-path: circle(500px at center);
        background-color: #949494;
    }

    .carding img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: 120%;
        transform: translate(-50%, -57%);
        pointer-events: none;
        transition: 0.5s;
    }

    .carding:hover img {
        left: 70%;
        height: 140%;
        width: auto;
    }

    .carding .content {
        padding: 1rem;
        position: relative;

        width: 30%;
        visibility: hidden;
        transition: 0.5s;
        opacity: 0;
    }

    .carding:hover .content {
        position: relative;
        visibility: visible;
        left: -25%;
        opacity: 1;
        font-size: 1.7rem;
    }

    /* information */

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .content-info {
        height: 600px;
        width: 600px;
        background-color: beige;
        padding: 40px;
        transition: 0.5s ease-in;
    }

    .content-info::before {

        position: absolute;
        content: "";
        height: 0%;
        width: 0%;
        border: 8px solid #eef3ef;
        top: 0;
        right: 0;
        border-bottom: none;
        border-left: none;
        opacity: 0;
        transition: all 0.8s ease-in-out;
    }

    .content-info:hover::before {
        height: 85%;
        width: 85%;
        opacity: 1;
    }



    .cards_container {
        height: 100vh;
        background-color: #343438;
        display: flex;

        justify-content: center;
        align-items: center;
    }

    .carddd {
        background: #64646b;
        height: 600px;
        width: 600px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        padding: 25px;
        transition: 0.5s ease;
        border-radius: 35px;
    }

    .carddd::before {
        position: absolute;
        content: "";
        height: 0%;
        width: 0%;
        border: 15px solid #a1a1a2;
        top: 0;
        right: 0;
        border-bottom: none;
        border-left: none;
        opacity: 0;
        transition: all 0.8s ease-in-out;
        border-radius: 25px;
    }

    .carddd::after {
        position: absolute;
        content: "";
        height: 0%;
        width: 0%;
        border: 15px solid #a1a1a2;
        bottom: 0;
        left: 0;
        border-top: none;
        border-right: none;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        border-radius: 25px;
    }

    .carddd:hover::before {
        height: 55%;
        width: 55%;
        opacity: 1;
        border-radius: 25px;
    }

    .carddd:hover::after {
        height: 55%;
        width: 55%;
        opacity: 1;
        border-radius: 25px;
    }

    .carddd:hover {
        height: 650px;
        width: 650px;
    }


}